/* utility */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background: linear-gradient(25deg, #8600b3 50%, #cc33ff 50%);
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* min-height: 100vh; */
}
  

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: white;
}

li {
  list-style: none;
}
/* scrollbar */

::-webkit-scrollbar {
  width: 5px;
  height: 7px;
  margin-top: 20rem;
  background-color: rgb(86, 89, 90);
}

/* track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.562);
}

/* handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.562);
  border-radius: 10px;
}

/* handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white;
}


#outer{
  display: flex;flex-direction: column;
  gap: 5rem;
  overflow-y: scroll;
  overflow-x: hidden;
}

.container-1 {
  height: 20vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  justify-content: stretch;
  /* overflow-y: hidden; */
}

/* search result */
section {
  margin: 1rem;
}

section h3 {
  padding: 0.5rem;
  margin-top: 1.5rem;
}

/* search bar */

#search {
  border: none;
  position: relative;
  width: 25rem;
  height: 1.8rem;
  outline: none;
  padding:25px;
  border-radius: 25px;
  height: 40px;
  outline: none;
  font-size: 18px;
}

#search::-webkit-search-cancel-button {
  position: relative;
  margin: 10px;
}

#search-button{
  position: absolute;
    top: 71%;
    right: -1%;
    outline: none;
    border: none;
    padding: 1px;
    color: purple;
}

input[type="submit"]:hover {
  opacity: 0.7;
  background: rgba(0, 69, 109, 0.5);
  /* color: black; */
}

input[type="submit"]:active {
  background: rgba(0, 34, 54);
}

/* search results  */
#search-results{
 margin: auto;
 width: 95%;
}

.category{
  color: white;
    font-weight: bold;
}

.card{
  margin: 1rem;
  height: 50%;
}

.card-img-top{
  height: 15rem;
}

.card-text{
  height: 5rem;
  overflow:hidden;
}
.btn-primary{
  background-color: #8600b3 !important;
}

.content {
  padding: 0 1rem;

  height: 5rem;
  position: absolute;
  top: 13rem;
}

.content .title {
  margin: 0.5rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  transition: all 0.4s;
}

.content .description {
  margin-top: 0.5rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.822);
}

/* footer of card */

footer {
  position: absolute;
  left: 1rem;
  top: 15rem;
  right: 1rem;
}

.details {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
.details li {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

/* footer */

.footer {
  margin-top: auto;
  width: 100vw;
  /* height: 2.5rem; */
  bottom: 0;
  left: 0;
  box-shadow: -4px -4px 12px rgba(105, 105, 105, 0.158);
  color: white;
  text-align: center;
}

.footer .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: var(--grayback);
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

.footer p {
  font-size: 0.8rem;
}

#error{
  font-size: large;
  font-weight: 500;
  text-align: center;
  color: white;
}


